@import 'base.css';
@import 'top-nav.css';
@import 'search.css';
@import 'book-card.css';

section#search {
  background: var(--light-100);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.books-list-container {
  display: flex;
  column-gap: 20px;
  align-items: flex-start;
}

.books-list-container aside#leftCol {
  width: 25%;
  background: var(--light-100);
  padding: 10px;
}

.books-list-container div#rightCol {
  width: 75%;
}

.books-list-container #booksListGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.books-list-container #booksCounter {
  font-weight: 300;
  color: var(--primary-100);
  margin-bottom: 20px;
}

.books-list-container #booksCounter span {
  color: var(--success-100);
  font-weight: 500;
}

.books-list-container p {
  font-size: .9rem;
  margin-bottom: 5px;
  color: var(--dark-100);
}

.books-list-container select {
  background-color: #fff;
  border: 1px solid var(--dark-100);
  padding: .25rem;
  font-size: .9rem;
  margin-bottom: 20px;
  color: var(--dark-100);
}

aside#leftCol ul {
  list-style-type: none;
  width: 100%;
}

aside#leftCol #filters > ul {
  margin-top: 1.5rem;
}

aside#leftCol #filters > ul > li:first-child {
  color: var(--secondary-100);
}

aside#leftCol #filters .available-filters li:first-child {
  margin-top: 0;
}

aside#leftCol li {
  align-items: center;
  margin-top: .75rem;
  color: var(--primary-100);
}

aside#leftCol li input {
  margin-right: .5rem;
}

aside#leftCol li span, aside#leftCol li i {
  margin-left: auto;
}

form#filterForm {
  display: none;
}