@import 'base.css';

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.alert {
  padding: .5rem 1rem;
  border-radius: 3px;
  margin-bottom: 20px;
  display: none;
}

.alert.alert-danger {
  background: var(--danger-25);
  border: 1px solid var(--danger-50);
  color: var(--danger-110);
  display: block;
}

.alert.alert-success {
  background: var(--success-25);
  border: 1px solid var(--success-50);
  color: var(--success-110);
  display: block;
}

.form-header, .form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-header{
  margin-bottom: 40px;
}

.form-header .form-title {
  color: var(--dark-100);
  font-weight: 500;
  margin-right: auto;
}

.form-header .form-logo {
  color: var(--white-100);
  font-size: .85rem;
  margin-right: .25rem;
  background: var(--primary-100);
  padding: .25rem .5rem;
  border-radius: 3px;
}

.form-header .form-logo:hover {
  background: var(--danger-100);
}

.form-footer {
  padding-top: 20px;
}

#loginForm, #registerForm {
  width: 500px;
  background: var(--white-100);
  padding: 25px;
  border-radius: 5px;
  border: 1px solid var(--primary-25);
}

li {
  position: relative;
}

li.error input {
  border: 1px solid var(--danger-100);
}

li small {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  color: var(--danger-100);
  visibility: hidden;
}

li.error small {
  visibility: visible;
}

label, input, a, button {
  display: block;
}

label, input {
  width: 100%;
  color: var(--dark-100);
  font-size: 1rem;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 25px;
  padding: .5rem;
  border: 1px solid var(--primary-50);
  border-radius: 3px;
}

 #loginBtn, #registerBtn {
  width: 48.5%;
  padding: .5rem;
  border-radius: 3px;
  font-size: 1.05rem;
  cursor: pointer;
  margin-bottom: 10px;
}

.active {
  border: 1px solid var(--success-100);
  background: var(--success-100);
  color: var(--white-100);
}

.active:hover {
  background: var(--success-dark-100);
}

.inactive {
  border: 1px solid var(--light-100);
  background: var(--light-100);
  color: var(--dark-100);
}

.inactive:hover {
  background: var(--secondary-25);
}